*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgb(27, 27, 33);
}
header{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}
form{
    margin: 10px auto;
    width: 60%;
    min-width: 600px;
    border: 1px solid white;
    padding: 10px;
}
button,select,option{
    border-radius: 5px;
    padding: 3px;
    color: black;
}
fieldset{
    padding: 5px;
    margin: 10px 0;
}
legend{
    margin-left: 10px;
}
button{
    margin-left: 10px;
    background-color: rgba(236, 236, 36, 0.938);
    border: 1px solid rgba(255, 255, 0, 0.46);
}
input{
    border: none;
    background-color: rgb(27, 27, 33);
    border-bottom: 2px solid white;
}
.block-label{
    display: block;
    margin: 2px 0;
}
.block-label input{
    margin-left: 10px;
}
#result-stats{
    display: none;
    margin: 10px auto;
    width: 60%;
    min-width: 600px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}
#result-calories{
    border-bottom: 2px solid white;
    margin: 5px 0;
}
#sub-stats > *{
    margin: 4px 0;
}
@keyframes error{
    0%{
        border-bottom: 2px solid red;
    }
    50%{
        border-bottom: 4px solid red;
    }
    100%{
        border-bottom: 2px solid red;
    }
}